body{
    margin: 0;
    padding: 0;
    background: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    position: relative;
}

.menu{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #383838;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    z-index: 1;
}

.logo{
    height: 100%;
}

.logo img{
    height: 100%;
    width: 70px;
}

.menu-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    list-style: none;
}


.menu-main a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.menu-main a:hover{
    color: rgb(243, 61, 61);
}



.social a img{
    height: 55px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #383838;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content{
    display: block;
}



.dropdown2{
    display: flex;
    flex-direction: column;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #383838;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 160px;
    margin-top: 15px;
}

.dropdown-content2 a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown2:hover .dropdown-content2{
    display: block;
}


.h1{
    margin-top: 80px;
    width: 100%;
    text-align: center;
    animation: RollIn 2s;
}


.Slides{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin-top: 25px;
    margin-bottom: 50px;
    animation: RollIn 2s;
}

.Slide {
    display: none;
    height: 675px;
    width: 750px;
}
.Slidebutton{
    cursor: pointer;
}





.footer{
    text-align: center;
    background-color: #383838;
    bottom: 0;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: static;
    margin-top: 95vh;
}


.Product h1{
    margin-top: 80px;
    width: 100%;
    text-align: center;
    animation: RollIn 2s;
    
}


.footer p{
    color: white;
}


@keyframes RollIn{
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0) ;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}









