body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

hr{
    width: 100%;
}

.menu{
    background-color: #c80404;
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    right: 0;
    z-index: 1;

}

.menu-main{
    display: flex;
    align-items: flex-start;
    width: 45%;
    height: 100%;
    
}

.menu-logo{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 45px;
    height: 200px;
    width: 200px;

}

.menu-logo img{
    height: 200px;
    width: 200px;
}

.menu-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
    text-decoration: none;
    margin-bottom: 100px;
}


.stadium-icon{
    display: flex;
    align-items: center;
}

.stadium-icon img{
    height: 30px;
    width: 30px;
    padding-right: 20px;
}

.website-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.website-icon a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.website-icon a:hover{
    color: black;
}

.website-icon img{
    height: 30px;
    width: 30px;
    padding-right: 20px;
}


.social-icon a img{
    height: 30px;
    background-color: white;
    border-radius: 50%;

}


.social-icon a img:hover{
    background-color: lightgray;
}

.share-icon{
    height: 30px;
    width: 30px;
    padding-right: 20px;
}




.menu-img{
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 100%;
}





.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.home-menu{
    height: 50px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    
}

.home-menu a{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: 20px;
}

.home-menu a:hover{
    color: red;
}




.players{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
    margin-top: 50px;
}



.player{
    width: 70%;
    display: flex;
    flex-direction: column;

    
}

.player-home{
    display: flex;
    width: 95%;
    height: 200px;
    padding-bottom: 20px;
    border-bottom: 2px lightgray solid;
}

.player-home h1{
    height: 0px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.player-img{
    margin-right: 25px;
}

.player-img img{
    border-radius: 50%;
    width: 200px;
}

.player-team{
    font-weight: bold;
}


.player-team a{
    text-decoration: none;
    margin-left: 5px;
    color: black;
    font-weight: normal;
}

.player-team a:hover{
     color: #c80404;
}


.player-team{
    display: flex;
}


.player-social a img{
    height: 40px;
    background-color: white;
    border-radius: 50%;
}


.player-social a img:hover{
    background-color: lightgray;
}


.main-title{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 50px;
}

.main-title p{
    font-size: 22px;
}



.main-contents{
    background-color: lightgray;
    width: 95%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.main-contents div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.main-contents hr{
    width: 100%;
}

.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.main-content a{
    text-decoration: none;
    color: rgb(70, 70, 252);
    font-size: 18px;
    margin-left: 10px;
}



.content img{
    width: 100%;
}


.title{
    width: 95%;
    font-size: 20px;

}

.text{
    width: 95%;
    font-size: 22px;
}


.Info{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 1px gray solid;
    padding: 10px;
}

.Info-logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
}


.Info-logo img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}


.Info-logo h1{
    font-size: 30px;
}


.Info-heading{
    background-color: lightgray;
    width: 100%;
    text-align: center;
    border-bottom: 1px gray solid;
    font-weight:bold
}


.Info-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px gray solid;
}

.Info-text p{
    width: 50%;
    font-size: 100%;
}



.footer{
    margin-top: 60px;
    text-align: center;
    background-color: lightgray;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}


.footer p{
    width: 100%;
    color: gray;
    
}